// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header-personal-data {
  background-color: $primary-color;
  display: flex;
  height: 80px;
  justify-content: center;
}

.logo-header {
  padding: 1em;
  width: 10em;
}
