// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
* {
  box-sizing: border-box;
  max-width: 1024px;
}

.icon-color {
  color: $info-color;
}

.slides {
  align-items: center;
  bottom: 70px;
  left: 0;
  position: fixed;
  width: 100%;

  img {
    width: 2%;
  }
}
