// -----------------------------------------------------------------------------
// This file contains typography style for copy text
// -----------------------------------------------------------------------------

.txt-lg-black {
  color: $primaryfont;
}

.txt-xs-form {
  font-size: 12px;
  font-weight: lighter;
}

.txt-xs-black {
  color: $primaryfont;
  font-size: 12px;
  font-weight: lighter;
}

.txtlg-black {
  color: $primaryfont;
}

.txt-lg {
  color: $secondary-color;
  font-size: 30px;
  position: relative;
}

.txt-xs {
  color: $secondary-color;
  font-size: 12px;
  font-weight: lighter;
}

.txt-md {
  color: $secondary-color;
  font-size: 20px;
  font-weight: lighter;
}
