// -----------------------------------------------------------------------------
// This file contains typography style for copy text
// -----------------------------------------------------------------------------

.txt-lg-black {
  color: $primaryfont;
}

.txt-xs-form {
  font-size: 12px;
  font-weight: lighter;
}

.txt-xs-black {
  color: $primaryfont;
  font-size: 12px;
  font-weight: lighter;
}

.txtlg-black {
  color: $primaryfont;
}

.txt-lg {
  color: $secondary-color;
  font-size: 30px;
  padding-top: 20px;
  position: relative;
  top: 50px;
}

.txt-xs {
  bottom: -50px;
  color: $secondary-color;
  font-size: 12px;
  font-weight: lighter;
}

.txt-md {
  // bottom: 90px;
  color: $secondary-color;
  font-size: 20px;
  // padding-bottom: 10px;
  font-weight: lighter;
}
