// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.content {
  background-color: $primary-color;
  display: flex;
  text-align: center;
}

.container-introduction {
  txt-md {
    align-items: flex-start;
    margin-bottom: -30em;
    padding: 0;
  }

  txt-xs {
    justify-content: center;
    padding: 19em;
  }
}

.container-logo {
  margin-left: auto;
  margin-right: auto;
  width: 30em;
}
