// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.content {
  background-color: $primary-color;
  display: flex;
  text-align: center;
}

.container-introduction {

  txt-md {
    align-items: flex-start;
    position: relative;
    top: -30px;
  }

  txt-xs {
    justify-content: center;
    top: 30px;
  }
}

.container-logo {
  margin-left: auto;
  margin-right: auto;
  width: 35em;
}
