.form-new-process {
  display: flex;
}

.padding-form {
  padding: 30px;
  width: 50%;
}

.form-merchant-info {
  width: 50%;
}

.title-new-process {
  margin-right: 127px;
}

.card-subtitle {
  height: 90%;
  padding: 50px;

  p {
  text-align: justify;
}

}

.form-merchant-info {
  width: 419px;
}
