
.container-modal-info {
  background-color: $secondary-color;
  margin: 0;
  padding: 0;
  width: 100%;
  width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;

  h2 {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 87px;
  }
}

.container-more-details {
  display: flex;
  margin: 0;
  padding: 0;

  p {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    text-align: justify;
  }

  ion-icon {
    color: $info-color;
    display: flex;
    justify-content: flex-end;
    margin: 0 $general-padding;
    padding: 0;
  }
}

.modal {
  margin: 0;
  padding: 0;

  .button-md:hover:not(.disable-hover) {
    background-color: $transparent;
  }

  .button-md {
    background-color: $transparent;
    color: $footer-color;
  }

  .scroll-content {
    background-color: $secondary-color;
    
  .ios-close {
    color: $footer-color;
    display: flex;
    justify-content: flex-end;
    padding-top: 2em;

  }
}

.modal-wrapper {
  border: 0;
  bottom: 0;
  height: 100vh;
  left: 50%;
  margin: auto;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;

  ion-page {
    width: 200%;
  }
}

ion-backdrop {
  background-color: $primary-color-transparent;
}
