
.container-modal-info {
  background-color: $secondary-color;
  margin: 0;
  padding: 0;
  width: 100%;

  h2 {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 87px;
  }
}

.container-more-deatails {
  display: flex;
  margin: 0;
  padding: 0;

  p {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    text-align: justify;
  }

  ion-icon {
    display: flex;
    justify-content: flex-end;
    margin: 0 $general-padding;
    padding: 0;
  }
}

.modal {
  margin: 0;
  max-width: 200em;
  padding: 0;

  .button-md:hover:not(.disable-hover) {
    background-color: $transparent;
  }

  .button-md {
    background-color: $transparent;
    color: $footer-color;
  }

  .scroll-content {
    background-color: $secondary-color;
  }
}

.modal-wrapper {
  width: 200%;
  top:-50%;
  left: 72.7%;

  ion-page{
    width: 200%;
  }
}
