
.container-modal-lend {
  background-color: $secondary-color;
  height: 30%;
  width: 50%;
  top: 50%;

  h2 p {
    display: flex;
    justify-content: flex-start;
  }
}

show-page{

  .modal-wrapper {
    border: 0;
    bottom: 0;
    height: 30vh;
    margin: 0;
    overflow: hidden;
    position: absolute;
    right: 50%;
    top: 0;
    width: 30vw;
    box-shadow: none;
    }

}

.class-meet-btn {
  display: flex;
  width: 100%;

  .btn-end {
    align-items: center;
    background-color: $secondary-color;
    color: $footer-color;
    height: 60px;
    width: 50%;

    &:hover {
      background-color: $footer-color;
      color: $secondary-color;
    }
  }
}
