// .header-personal-data {
//   background-color: $primary-color;
// }
//
.form-new-process {
  display: flex;
}

.container-form-new-process {
  width: 50%;
}

.container-merchant {
  width: 50%;
}

.container-avatar {
  display: flex;
}

.avatar {
  border-radius: 3em;
}

.container-avatar-info {
  margin-bottom: auto;
  margin-left: 1em;
  margin-top: auto;
}

.container-see-more-deatails {
  align-items: flex-end;
  display: flex;
  padding-left: 2em;
}

.see-more-deatails {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
}

.ios-information-circle {
  color: $info-color;
  padding-right: 0.5em;
  width: 20%;
}
.background-personal-data{
  background-color: $secondary-color;
}
