.avatar {
  align-items: center;
  border-radius: 3em;
  width: 6vw;
}

.background-personal-data {
  background-color: $secondary-color;
}

.container-avatar {
  display: flex;
  width: 100%;
}

.container-avatar-info {
  margin-bottom: auto;
  margin-left: 1em;
  margin-top: auto;
}

.container-form-new-process {
  padding-right: $general-padding;
  width: 50%;
}

.container-merchant {
  padding-right: $general-padding;
  width: 50%;
}

.container-see-more-details {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-left: 0.5em;

  .button-md {
    background-color: $transparent;
    height: auto;
    margin: 0;
    padding: 0;
  }

  a {
    margin: 10px;
    padding: 0;
  }

  .button-md:hover:not(.disable-hover) {
    background-color: $transparent;
  }
}

.form-new-process {
  display: flex;
  justify-content: center;
  width: 100%;
}

.imput-merchant-name {
  align-items: center;
  display: flex;
  flex-direction: row;

  .button-md {
    background-color: $transparent;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .button-md:hover:not(.disable-hover) {
    background-color: $transparent;
  }

  .ios-checkmark {
    color: $secondary-color;
  }

  .ios-information-cicle {
    color: $info-color;
  }
}
//
// .item-form-inline {
//   ion-icon {
//     width: 25%;
// }
//
//   div {
//     width: 50%;
//   }
// }

.see-more-details {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
}

.ion-item-content {
  padding-left: 15px;
  padding-right: 15px;

  .icon-check {
    color: $footer-color;
  }

  .item-inner {
    ion-icon{
    font-size:2rem;
    }
  }
}

.ion-md-checkmark:before {
    content: "\f2bc";
    color: pink;
}
